{% extends 'dashboard_base.html' %}

{% block name%}{{ name }}{% endblock %}
{% block hello_name%}{{ name }}{% endblock %}

{% block device_id %} {{ device_id }} {% endblock %}
{% block device_status %} {{ device_status }} {% endblock %}
{% block user_number %} {{ user_number }} {% endblock %}

{% block content_wrapper %}
    <div class="content-wrapper">
          <div class="row">
              <div class="card col-7">
                <div class="card-body">
                      <h4 class="card-title">新增设备</h4>
                      <p class="card-description">
                        {{ return_instruction }}
                      </p>
                      <form action="/device/new/" method="post" class="forms-sample">
                        {% csrf_token %}
                        <div class="form-group">
                          <label>设备号</label>
                          <input type="text" class="form-control" placeholder="" name="device_id">
                        </div>
                      <div class="form-group">
                          <label>备注</label>
                          <input type="text" class="form-control" name="comment">
                        </div>
                        <input type="submit" class="btn btn-success mr-2" value="提交">
                      </form>
                    </div>
              </div>
          </div>
        </div>
{% endblock %}
