{% extends 'dashboard_base.html' %}

{% block name%}{{ name }}{% endblock %}
{% block hello_name%}{{ name }}{% endblock %}

{% block device_id %} {{ device_id }} {% endblock %}
{% block device_status %} {{ device_status }} {% endblock %}
{% block user_number %} {{ user_number }} {% endblock %}

{% block content_wrapper %}
    <div class="content-wrapper">
          <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>时间</th>
                          <th>设备号</th>
                          <th>动作</th>
                          <th>手机号码</th>
                          <th>IP地址</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for log in logs %}
                          <tr>
                              <td>{{ log.data_time }}</td>
                              <td>{{ log.device_id }}</td>
                              <td>{{ log.action }}</td>
                              <td>{{ log.phone_number }}</td>
                              <td>{{ log.ip }}</td>
                          </tr>
                      {% endfor %}
                      </tbody>

                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                      <div class="btn-group" role="group" aria-label="First group">
                          {% if logs.has_previous %}
                            <a type="button" class="btn btn-light" href="/device/log/?page={{ logs.previous_page_number }}"><</a>
                          {% endif %}
                            <a type="button" class="btn btn-light">{{ logs.number }}/{{ logs.paginator.num_pages }}</a>
                            {% if logs.has_next %}
                                <a type="button" class="btn btn-light" href="/device/log/?page={{ logs.next_page_number }}">></a>
                        {% endif %}
                        <div class="input-group">
                            <form action="/device/log/" method="get">
                              <input type="text" class="form-control" placeholder="跳转页码" name="page">
                              <input type="submit" class="btn btn-primary" value="GO">
                          </form>
                        </div>
                      </div>
                        <p>动作号说明：0：下线；1：上线；2：验证失败。</p><br>
                    <div class="input-group">
                        <form action="/device/log_search/" method="get">
                          <input type="text" class="form-control" placeholder="设备号" name="device_id">
                          <input type="text" class="form-control" placeholder="动作号" name="action">
                          <input type="text" class="form-control" placeholder="手机号" name="phone_number">
                          <input type="submit" class="btn btn-primary" value="搜索">
                      </form>
                    </div>
                    </div>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
